*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("image.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.ana{
    margin: auto;
    max-height: 100px;
}
header{
    max-width: 1100px;
    margin: auto ;
    padding-top: 50px;
    display:flex;

}

.head1{
    color:rgb(9, 40, 65);
    font-size: 25px;
    font-family: "Righteous";
    letter-spacing: 5px;
    border-bottom:5px double rgb(9, 40, 65);
}
span{
    color:rgb(49, 2, 2);

}
.head1 h1{
    padding-left: 30px;
}
.head2{
    margin: auto;
    margin-right: -70px;
    background-color: rgba(209, 144, 24, 0.2);
    padding: 5px 0px;
 
    
    
}

header div ul li{
    display: inline;
    padding: 0px 30px;
  
  
}
header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    list-style-type: none;
    font-size: 22px;
    font-family: "Righteous";
    font-weight: bolder;
    
  
}
header a:hover{
    border: 2px solid white;
    background-color:rgb(9, 40, 65);
    border-radius: 10px;
    padding: 0px 5px;
    transition: 0.5s;
    
}
main{
    margin: auto;
    display: flex;
    margin-top: 100px;
    
}
.agac{
    border: 2px solid white;
  
}
.agac img{
    width: 600px;
    height: 560px;
   
    
    
}
main div{
    background-color:rgba(0, 0,0,0.2);

}

main div h2{
    font-size: 50px;
    color: white;
    text-align: center;
}
main div p{
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 40px;
    line-height: 50px;
}
@media screen and (max-width: 700px){
    header{
        display: block;
    }
    .ana{
        max-height: fit-content;
    }
    .head1 {
        font-size: 40px;
        text-align: center;

    }
    .head2 li{
        font-size: 20px;
        padding: 10px 10px;
    }
    main{
        margin-top: 100px;
    }

    
}